.home_sec {
  background: #eee;
  background-image: linear-gradient(
    to right top,
    #0c356a,
    #0c356a,
    #0c356a,
    #0c356a,
    #12396b
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bg {
  height: 31rem;
}
.text_parent {
  color: white;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  font-size: 1.5rem;
  font-weight: bold;
}
.home_sec .home_btn {
  height: 3rem !important;
  width: 11rem;
  border: none;
  border-radius: 21px;
  font-weight: 700;
  color: black;
  background: white;
}
.text_parent :nth-child(4):hover {
  background: #279eff;
  cursor: pointer;
  box-shadow: 1px 1px 11px 2px #279eff;
}

.T_span {
  font-size: 2rem;
  background: -webkit-linear-gradient(#0f7077, #279eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.googleStar {
  background: transparent;
  filter: drop-shadow(2px 4px 10px black);
  height: 9rem;
  z-index: 0;
}
.googleStar:hover {
  filter: drop-shadow(2px 4px 17px black);
}

@media (max-width: 563px) {
  html {
    font-size: 10px;
  }
  .bg {
    display: flex;
    height: 24rem;
    margin-top: 5rem;
  }
  .home_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home_sec .home_btn {
    width: 15rem;
    min-height: 5rem;
  }
  .text_parent {
    text-align: center;
  }
  .googleStar {
    display: none;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .home_sec .home_btn {
    min-height: 5rem !important;
    width: 15rem;
  }
}

.sec2_title {
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.sec2_title :nth-child(3) {
  height: 4rem;
  width: 14rem;
  border: none;
  border-radius: 11px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: 2px solid #0c356a;
  position: relative;
}
.sec2_title :nth-child(3):hover {
  background: #0c356a;
  color: white;
}

.sec2_title :nth-child(3)::before {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: -20%;
  background: #0c356a;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  rotate: 90deg;
  z-index: 0;
}
.sec2_title :nth-child(3):hover::before {
  transition: 0.2s;
  rotate: 0deg;
}
.sec2_title :nth-child(3)::after {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: -20%;
  background: #0c356a;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  rotate: -90deg;
  z-index: 0;
}
.sec2_title :nth-child(3):hover::after {
  transition: 0.2s;
  rotate: 0deg;
}
.title_child {
  text-align: center;
  font-size: 3rem;
}
@media (max-width: 1000px) {
  .sec2_title,
  .title_child {
    text-align: center;
  }
}

.cards_parent {
  min-height: 100rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  place-items: center;
}
.card {
  min-height: 31rem;
  width: 19rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  border-radius: 10%;
  overflow: hidden;
  margin: 1rem;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 6px,
        transparent 6px
      )
      0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px)
      100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px)
      0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100%
      100%/10px 10px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 8px)
      calc(100% - 20px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 20px)
      calc(100% - 8px) no-repeat,
    linear-gradient(78deg, #c514b6 0%, #183048 100%);
  border-radius: 10px;
  padding: 28px;
  box-sizing: border-box;
}
.card :nth-child(2) {
  color: #12396b;
}
.card:hover {
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 6px,
        transparent 6px
      )
      0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px)
      100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px)
      0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100%
      100%/10px 10px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 8px)
      calc(100% - 20px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 20px)
      calc(100% - 8px) no-repeat,
    linear-gradient(
      17deg,
      #b90fe0 0%,
      #fc1897 15.08%,
      #e7160d 34.304%,
      #e2551e 68.318%,
      #f714f6 100%
    );
  border-radius: 10px;
  padding: 28px;
  box-sizing: border-box;
}

.cardImg {
  min-height: 40%;
  width: 100%;
  object-fit: none;
}

@media (max-width: 424px) {
  .cards_parent {
    grid-template-columns: auto;
  }
}

@media (min-width: 425px) and (max-width: 800px) {
  .cards_parent {
    grid-template-columns: auto auto;
  }
}

.home_sec3_title {
  margin: 4rem;
}
.home_sec3_title :nth-child(n) {
  font-size: 1.5rem;
  text-align: start;
  color: black;
}

.contactUsNow_parent {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactUsNow {
  height: 4rem;
  width: 12rem;
  border: none;
  border-radius: 11px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: transparent;
  border: 3px solid #0c356a;
}
.contactUsNow:hover {
  background: #0c356a;
  color: white;
}

.contactUsNow_parent :nth-child(2) {
  font-size: 1rem;
  margin-top: 3rem;
  min-height: 5rem;
  width: 22rem;
  border: none;
  border-radius: 10px;
  background: #1b1f55;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 21px 2px #1b1f55;
}
